<template>
  <div class="container">
    <div class="row">
      <div class="col-12 py-5">
        <h1>Todo List</h1>
      </div>
    </div>
    <div class="row mb-3">
      <create-todo @on-new-todo="addTodo($event)" />
    </div>
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 cl-lg-6">
        <ul class="list-group">
          <todo
            v-for="(todo) in todoData"
            :key="todo.ID"
            :title="todo.Title"
            :completed="todo.IsDone"
            @on-toggle="addDone(todo)"
            @on-delete="deleteTodo(todo.ID)"
            @on-edit="editTodo(todo, $event)"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Todo from "./Todo.vue";
import CreateTodo from "./CreateTodo.vue";

export default {
  created() {
    this.getTodoLists();
  },
  data() {
    return {
      todoData: [],
    };
  },
  methods: {
    getTodoLists() {
      this.$axios.get("/todo/")
        .then(response => (this.todoData = response.data.Data))
        .catch(error => {
          this.errors.push(error);
        });
    },
    addTodo(newTodo) {
      this.$axios.post("/todo/", {Title: newTodo} )
        .then(this.getTodoLists)
        .catch(error => {
          this.errors.push(error);
        });
    },
    addDone(todo) {
      todo.IsDone = !todo.IsDone;
      this.$axios.put("/todo/" + todo.ID + "/done",{IsDone: todo.IsDone} )
        .then(this.getTodoLists)
        .catch(error => {
          this.errors.push(error);
        });
    },
    deleteTodo(id) {
      this.$axios.delete("/todo/" + id)
        .then(this.getTodoLists)
        .catch(error => {
          this.errors.push(error);
        });
    },
    editTodo(todo, newTodoTitle) {
      todo.Title = newTodoTitle;
      this.$axios.put("/todo/" + todo.ID,{Title: todo.Title} )
      .then(this.getTodoLists)
      .catch(error => {
        this.errors.push(error);
      });
    },
  },
  components: { Todo, CreateTodo },
};
</script>

<style scoped lang="scss"></style>
